@using System.Text.Json

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TomeKop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Profil Sayfası
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uyeler" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span>
                @(uye.danisman_id > -1 ? "Danışmanlar" : "Üyeler")
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="araziler" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Araziler
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uye-araziler" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Tüm Üye Arazileri
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="urunler" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Ürünler
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uye-urunler" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Tüm Üye Ürünleri
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="toplam-sebze" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Toplam Sebze
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="toplam-meyve" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Toplam Meyve
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="istatistikler" Match="NavLinkMatch.All">
                <span class="oi oi-calculator" aria-hidden="true"></span> İstatistikler
            </NavLink>
        </li>
        @* <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
            </li>
            <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
            </li> *@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public Uye uye = new Uye();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                uye = JsonSerializer.Deserialize<Uye>(await localStorage.GetItemAsync<byte[]>("uyeJsonString"));
                StateHasChanged();
            }
            catch (System.Exception)
            { }

        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
